<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Edit Post</title>
</head>
<body>
	<h1>Edit your post <%= link_to 'or not', article_path %></h1>
	<% if @article.errors.any? %>
	<h3>Something wrong:</h3>
	<ul>
		<%= @article.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
	<% end %>

	<%= form_for @article do |post| %>
		<p><%= post.text_field :title, placeholder: "Title" %></p>
		<p><%= post.text_area :description, size: "60x30", placeholder: "description" %></p>
		<%= post.submit "Save"%>
	<% end %>
</body>
</html>