<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Post Content</title>
	
</head>
<body>
	<h2>
		<%= @article.title %>
	</h2>
	<p>
		<%= @article.description %>
	</p>

<br>
<br>
<br>
	<%= link_to 'Edit Post', edit_article_path %> |
	<%= link_to 'Delete Post', article_path, method: :delete, data: {confirm: "Are you sure?"} %> |
	<%= link_to 'Create New Post', new_article_path %> |
	<%= link_to 'All Posts', articles_path %>
</body>
</html>